@page "/users"
@using System.ComponentModel.DataAnnotations;

<div class="p-3">

<div class="row mt-3 mb-3">
	<div class="col-6">
		<h3 class="color-coffee">User Index</h3>
	</div>
	<div class="col-6 text-end">
		<button class="btn btn-primary" type="button" @onclick="OpenAddUserDialog">
			<i class="bi bi-plus-circle"></i> &nbsp; Add a new user
		</button>
	</div>
</div>

<ul class="nav nav-tabs">
	<li class="nav-item ">
		<a class='nav-link btn @(_tabFilter == "All" ? "active" : "")' @onclick='()=>TabFilter("All")'>All</a>
	</li>
	<li class="nav-item">
		<a class='nav-link btn @(_tabFilter == "Admin" ? "active" : "")' @onclick='()=>TabFilter("Admin")'>Admin</a>
	</li>
	<li class="nav-item">
		<a class='nav-link btn @(_tabFilter == "Staff" ? "active" : "")' @onclick='()=>TabFilter("Staff")'>Staff</a>
	</li>
		<li class="nav-item">
			<a class='nav-link btn @(_tabFilter == "Members" ? "active" : "")' @onclick='()=>TabFilter("Members")'>Members</a>
		</li>
</ul>

<table class="table table-striped coffee-table">
	<thead>
		<tr>
			<th>
				<div class="d-flex">
					<input type="search" class="form-control search" placeholder="Search a user" @oninput="SearchUserName" />
					<a class='btn text-@(_sortBy == "username" ? "primary" : "secondary")' data-mdb-toggle="tooltip"
					   @onclick='()=>SortByHandler("username")'>
						<span class='oi oi-sort-@(_sortBy == "username" ? _sortDirection : "ascending")' />
					</a>
				</div>
			</th>
			<th>
				<div class="d-flex">
					Email
					<a class='btn text-@(_sortBy == "email" ? "primary" : "secondary")' data-mdb-toggle="tooltip"
					   @onclick='()=>SortByHandler("email")'>
						<span class='oi oi-sort-@(_sortBy == "email" ? _sortDirection : "ascending")' />
					</a>
				</div>
			</th>
			<th>
				<div class="d-flex">
					Role
					<a class='btn text-@(_sortBy == "role" ? "primary" : "secondary")' data-mdb-toggle="tooltip"
					   @onclick='()=>SortByHandler("role")'>
						<span class='oi oi-sort-@(_sortBy == "role" ? _sortDirection : "ascending")' />
					</a>
				</div>
			</th>
			<th>
				<div class="d-flex">
					Created At
					<a class='btn text-@(_sortBy == "createdAt" ? "primary" : "secondary")' data-mdb-toggle="tooltip"
					   @onclick='()=>SortByHandler("createdAt")'>
						<span class='oi oi-sort-@(_sortBy == "createdAt" ? _sortDirection : "ascending")' />
					</a>
				</div>
			</th>
			<th>
				<div class="d-flex">
					Created By
					<a class='btn text-@(_sortBy == "createdBy" ? "primary" : "secondary")' data-mdb-toggle="tooltip"
					   @onclick='()=>SortByHandler("createdBy")'>
						<span class='oi oi-sort-@(_sortBy == "createdBy" ? _sortDirection : "ascending")' />
					</a>
				</div>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@{
			IEnumerable<User> users = _users;

			if (_sortBy == "username")
			{
				users = _sortDirection == "ascending" ? users.OrderBy(p => p.Username) : users.OrderByDescending(p => p.Username);
			}
			else if (_sortBy == "email")
			{
				users = _sortDirection == "ascending" ? users.OrderBy(p => p.Email) : users.OrderByDescending(p => p.Email);
			}
			else if (_sortBy == "role")
			{
				users = _sortDirection == "ascending" ? users.OrderBy(p => p.Role) : users.OrderByDescending(p => p.Role);
			}
			else if (_sortBy == "createdAt")
			{
				users = _sortDirection == "ascending" ? users.OrderBy(p => p.CreatedAt) : users.OrderByDescending(p => p.CreatedAt);
			}
			else if (_sortBy == "createdBy")
			{
				users = _sortDirection == "ascending" ? users.OrderBy(p => p.CreatedBy) : users.OrderByDescending(p => p.CreatedBy);
			}

			if (_tabFilter == "Admin")
			{
				users = users.Where(x => x.Role == Role.Admin);
			}

			else if (_tabFilter == "Staff")
			{
				users = users.Where(x => x.Role == Role.Staff);
			}
				else if (_tabFilter == "Members")
				{
					users = users.Where(x => x.Role == Role.Member);
				}


			@foreach (var user in users)
			{
				<tr>
					<td>@user.Username</td>
					<td>@user.Email</td>
					<td>@user.Role.ToString()</td>
					<td>@user.CreatedAt.ToShortDateString()</td>
					<td>
						@{
							var creator = UserService.GetById(user.CreatedBy);
							<span>@(creator == null ? "Administration" : creator.Username)</span>
						}
					</td>
					<td>
						<button disabled="@(_globalState.CurrentUser != null ? _globalState.CurrentUser.Id == user.Id : false)"
								class="btn btn-outline-danger" type="button" @onclick="()=>OpenDeleteUserDialog(user)">
							 &nbsp; Delete
						</button>
					</td>
				</tr>
			}
		}

	</tbody>
</table>
</div>

@if (_showAddUserDialog)
{
	<ModalDialog Title="@_dialogTitle" OnClose="@OnAddUserDialogClose" OkLabel="@_dialogOkLabel">
		<EditForm Model="_userModel">
			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="mb-3">
				<label for="text" class="form-label">&nbsp;Username</label>
				<InputText id="username" class="form-control" @bind-Value="_userModel.Username" placeholder="Enter your username" />
				<ValidationMessage For="@(() => _userModel.Username)" />
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">&nbsp;Email Address</label>
				<InputText id="email" class="form-control" @bind-Value="_userModel.Email" placeholder="Enter your email address" />
				<ValidationMessage For="@(() => _userModel.Email)" />
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">&nbsp;Password</label>
				<InputText id="password" type="password" class="form-control" @bind-Value="_userPassword" placeholder="Enter your password" />
			</div>
			@if (!string.IsNullOrEmpty(_addUserErrorMessage))
			{
				<ErrorMessage Type="danger" Message="@_addUserErrorMessage" />
			}
		</EditForm>
	</ModalDialog>
}

@if (_showDeleteUserDialog)
{
	<ModalDialog Title="@_dialogTitle" OnClose="@OnDeleteUserDialogClose" OkLabel="@_dialogOkLabel">

		<p>Are you sure you want to delete <strong>@_userModel.Username</strong> user and their data?</p>

		@if (!string.IsNullOrEmpty(_deleteUserErrorMessage))
		{
			<ErrorMessage Type="danger" Message="@_deleteUserErrorMessage" />
		}
	</ModalDialog>
}

@code {
	[CascadingParameter]
	private GlobalState _globalState { get; set; }

	private List<User> _users { get; set; }

	private bool _showAddUserDialog { get; set; }

	private bool _showDeleteUserDialog { get; set; }

	private string _addUserErrorMessage { get; set; }

	private string _deleteUserErrorMessage { get; set; }

	private User _userModel { get; set; }

	private string _dialogTitle { get; set; }

	private string _dialogOkLabel { get; set; }

	private Role _userRole { get; set; }

	private string _userPassword { get; set; }

	private string _tabFilter = "All";

	private string _sortBy = "username";

	private string _sortDirection = "ascending";

	private string _usersPath = UtilityService.GetAppUsersFilePath();

	protected override void OnInitialized()
	{
		_users = UserService.GetAll(_usersPath);
	}

	private void RoleChangeHandler(ChangeEventArgs e)
	{
		_userRole = (Role)Enum.Parse(typeof(Role), e.Value.ToString());
	}

	private void OpenAddUserDialog()
	{
		_dialogTitle = "Add a new staff";

		_dialogOkLabel = "Add";

		_userModel = new User();

		_userPassword = "";

		_showAddUserDialog = true;
	}

	private void OpenDeleteUserDialog(User user)
	{
		_dialogTitle = "Remove an existing user";

		_dialogOkLabel = "Confirm";

		_userModel = user;

		_showDeleteUserDialog = true;
	}

	private void SortByHandler(string sortByName)
	{
		if (_sortBy == sortByName)
		{
			_sortDirection = _sortDirection == "ascending" ? "descending" : "ascending";
		}
		else
		{
			_sortBy = sortByName;

			_sortDirection = "ascending";
		}
	}

	public void TabFilter(string status)
	{
		_tabFilter = status;
	}

	private void SearchUserName(ChangeEventArgs e)
	{
		var searchItem = e.Value.ToString();

		if (!string.IsNullOrEmpty(searchItem) && searchItem.Length > 2)
		{
			_users = UserService.GetAll(_usersPath).Where(p => p.Username.ToLower().Contains(searchItem.ToLower())).ToList();
		}
		else
		{
			_users = UserService.GetAll(_usersPath);
		}
	}

	private void OnAddUserDialogClose(bool isClosed)
	{
		if (isClosed)
		{
			_showAddUserDialog = false;
		}
		else
		{
			try
			{
				_addUserErrorMessage = "";

				_users = UserService.Create(_globalState.CurrentUser.Id, _userModel.Username, _userModel.Email, _userPassword, Role.Staff);

				_showAddUserDialog = false;


			}
			catch (Exception e)
			{
				_addUserErrorMessage = e.Message;


				Console.WriteLine(e.Message);
			}
		}
	}

	private void OnDeleteUserDialogClose(bool isClosed)
	{
		if (isClosed)
		{

			_showDeleteUserDialog = false;

			_userModel = null;
		}
		else
		{
			try
			{
				_deleteUserErrorMessage = "";

				_users = UserService.Delete(_userModel.Id);

				_showDeleteUserDialog = false;

				_userModel = null;
			}
			catch (Exception e)
			{
				_deleteUserErrorMessage = e.Message;

				Console.WriteLine(e.Message);
			}
		}
	}
}